{% extends "base.html" %}
{% block content %}

	{% from "forms/macros.html" import render_field %}

	<form method="POST" action="." class="form-small">
		{{ form.csrf_token }}
		<h2 class="form-small-heading">Please Sign In</h2>
		{{ render_field(form.email, class="form-control", placeholder="Email address" ) }}
		{{ render_field(form.password, class="form-control", placeholder="Password") }}
		<p></p>
		<button class="btn btn-lg btn-primary btn-block" type="submit" >Sign in</button>
	</form>
{% endblock %}
, autofocus
