<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="Alex Gamas">
		<link rel="shortcut icon" href="/static/img/favicon.png">

		<title>{% block title %}{{ config.APP_TITLE }}{% endblock %}</title>
		{% block css %}
			<!-- Bootstrap core CSS -->
			<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.css') }}">
			
			<!-- Bootstrap theme -->
			<link href="/static/css/bootstrap-theme.css" rel="stylesheet">
			<!-- Custom styles for this template -->
			<link href="/static/css/main.css" rel="stylesheet">
			<link href="/static/css/theme.css" rel="stylesheet">
		{% endblock %}
		{% block script %}
			<script src="/static/js/jquery.js"></script>
			<script src="/static/js/main.js" type="text/javascript"></script>
		{% endblock %}
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src="/static/js/html5shiv.js"></script>
			<script src="/static/js/respond.js"></script>
		<![endif]-->
	</head>

	<body>
		{% block header %}
		<div class="container theme-showcase">
			<div id="messages-wrap">
				<div id="messages">
					{% for category, msg in get_flashed_messages(with_categories=true) %}
						<p class="message flash-{{ category }}">{{ msg }}</p>
					{% endfor %}
				</div>
			</div>
		</div>
		{% endblock %}
		<!-- Static navbar -->
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">

				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">{{ config.APP_NAME }}</a>
				</div>

				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li class="active"><a href="#">Home</a></li>


						<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Functionalities<b class="caret"></b></a>
							<ul class="dropdown-menu">

                                <li><a href="#">Music</a></li>
                                <li><a href="#">Music</a></li>
                                <li><a href="#">Music</a></li>

                                <!--

								<li><a href="#">Search</a></li>

								<li class="divider"></li>
								<li class="dropdown-header">Nav header</li>
								<li><a href="#">Separated link</a></li>
								<li><a href="#">One more separated link</a></li>
								-->
							</ul>
						</li>

						<li><a href="#about">About</a></li>
					</ul>

				</div><!--/.nav-collapse -->
			</div>
		</div>
		<div class="container">
			{% block content %}{% endblock %}
		</div> <!-- /container -->
		<div id="footer">{% block footer %}{% endblock %}</div>
		<!-- Bootstrap core JavaScript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="/static/js/bootstrap.js"></script>
		<script src="/static/js/holder.js"></script>
	</body>
</html>
